## Incluce modules

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

## Load and view data

In [2]:
concrete_data = pd.read_csv('https://cocl.us/concrete_data')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

## Prepare data

In [3]:
import keras
from keras.models import Sequential
from keras.layers import Dense

y = concrete_data['Strength']
X = concrete_data.drop('Strength',axis=1)

n_cols = X.shape[1]

Using TensorFlow backend.

## Normalize data

In [4]:
X = (X - X.mean()) / X.std()
X.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

## Create regression model

In [5]:
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

model = regression_model()
mse = np.empty((0))

## In 1-3 split data, train and predict

In [11]:
for i in range(10):
   X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)
   model.fit(X_train, y_train, epochs=50, verbose=0)
   Yhat=model.predict(X_test) 
   mse = np.append(mse, mean_squared_error(y_test, Yhat))

## report mean and std

In [12]:
mse.mean()

84.9272260994585

In [13]:
mse.std()

82.35563136457583

## After normalization we have got better mse and less std