**RG - Python for Deep Learning: Cement Strength**

In [127]:
# importing processing libraries
import pandas as pd
import numpy as np

In [128]:
# downloading data
!wget -O concrete_data.csv https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv
print('Downloaded ...')

--2019-11-13 18:18:25--  https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv
Resolving s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)... 67.228.254.196
Connecting to s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)|67.228.254.196|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 58988 (58K) [text/csv]
Saving to: ‘concrete_data.csv’

concrete_data.csv   100%[===================>]  57.61K  --.-KB/s    in 0.04s

2019-11-13 18:18:25 (1.33 MB/s) - ‘concrete_data.csv’ saved [58988/58988]

Downloaded ...

**Predictors & Target**

In [129]:
concrete_data=pd.read_csv("concrete_data.csv")
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [130]:
print(concrete_data.shape)
concrete_data.describe()

(1030, 9)

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [131]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [132]:
concrete_data_columns = concrete_data.columns

X = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
y = concrete_data['Strength'] # Strength column

In [133]:
X.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [134]:
y.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

**Training & Testing Data**

In [135]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [136]:
import keras

In [137]:
from keras.models import Sequential
from keras.layers import Dense

In [138]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_dim=8))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

# build the model
model_ob = regression_model()

**Part A: Predictions**

In [ ]:
m_se = []

for i in range(50):
# fit the model
    print("Iteration ",i+1)
    print("")
    X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3)
    model_ob.fit(X_train, y_train, validation_data=(X_test, y_test), epochs=50)
    #scores = model_ob.evaluate(X_test, y_test, verbose=0)
    print("")
    yh = model_ob.predict(X_test)
    m_se.append(mean_squared_error(y_test, yh))

In [140]:
m_se = np.asanyarray(m_se)

print("Mean of MSE", np.mean(m_se))
print("Std Dev of MSE", np.std(m_se))

Mean of MSE 125.73101134971331
Std Dev of MSE 58.92296877981908

**Part B: Predictions  after Normalizations**

In [141]:
from sklearn.preprocessing import StandardScaler

In [ ]:
X = StandardScaler().fit_transform(concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']]) 
# all columns except Strength

m_se = []

for i in range(50):
# fit the model
    print("Iteration ",i+1)
    print("")
    X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3)
    model_ob.fit(X_train, y_train, validation_data=(X_test, y_test), epochs=50)
    #scores = model_ob.evaluate(X_test, y_test, verbose=0)
    print("")
    yh = model_ob.predict(X_test)
    m_se.append(mean_squared_error(y_test, yh))

In [143]:
m_se = np.asanyarray(m_se)

print("Mean of MSE", np.mean(m_se))
print("Std Dev of MSE", np.std(m_se))

Mean of MSE 48.216570864503566
Std Dev of MSE 37.179580939557454

**Part C: Predictions  after Normalizations, epochs**

In [ ]:
m_se = []

for i in range(50):
# fit the model
    print("Iteration ",i+1)
    print("")
    X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3)
    model_ob.fit(X_train, y_train, validation_data=(X_test, y_test), epochs=100)
    #scores = model_ob.evaluate(X_test, y_test, verbose=0)
    print("")
    yh = model_ob.predict(X_test)
    m_se.append(mean_squared_error(y_test, yh))

In [145]:
m_se = np.asanyarray(m_se)

print("Mean of MSE", np.mean(m_se))
print("Std Dev of MSE", np.std(m_se))

Mean of MSE 31.378729484369742
Std Dev of MSE 3.5775296022566283

**Part D: Predictions  after Normalizations, epochs & hidden layers**

In [146]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_dim=8))
    model.add(Dense(10, activation='relu', input_dim=8))
    model.add(Dense(10, activation='relu', input_dim=8))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

# build the model
model_ob = regression_model()

In [ ]:
m_se = []

for i in range(50):
# fit the model
    print("Iteration ",i+1)
    print("")
    X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3)
    model_ob.fit(X_train, y_train, validation_data=(X_test, y_test), epochs=100)
    #scores = model_ob.evaluate(X_test, y_test, verbose=0)
    print("")
    yh = model_ob.predict(X_test)
    m_se.append(mean_squared_error(y_test, yh))

In [148]:
m_se = np.asanyarray(m_se)

print("Mean of MSE", np.mean(m_se))
print("Std Dev of MSE", np.std(m_se))

Mean of MSE 26.482103673585286
Std Dev of MSE 6.486697806201567